@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(90.15deg, rgb(255, 255, 255) 50.62%, rgb(255, 255, 255) 85.61%);
    font-family: 'Sarala', sans-serif;
}

/*@keyframes animacao {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); } 
    25% { transform: translateX(-20%); } 
    45% { transform: translateX(-30%); } 
    50% { transform: translateX(-40%); } 
    70% { transform: translateX(-50%); }
    75% { transform: translateX(-60%); } 
    95% { transform: translateX(-70%); } 
    100% { transform: translateX(0); } 
     
}

img{
    width: 250px;
    height: 200px;
}
 
.galery {
    width: 100%;
    height: 20vh; 
    overflow: hidden; 
    position: relative;
}

.galery .fotos {
    display: flex;
    width: 400%; 
    height: 100%;
    animation: animacao 20s linear infinite; 
}

.galery .fotos img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
*/

@media (max-width: 720px) {

    body {
        width: 720px;
        height: 1280px;
    }

    @keyframes animacao {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-20%);
        }

        45% {
            transform: translateX(-30%);
        }

        50% {
            transform: translateX(-40%);
        }

        70% {
            transform: translateX(-50%);
        }

        75% {
            transform: translateX(-60%);
        }

        95% {
            transform: translateX(-70%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100px;
        height: 94px;
        margin-left: 10px;
        z-index: 10;
    }

    .hamburger img {
        width: 90%;
        height: 90%;
        margin-left: 20%;
        border-radius: 5px;
        transition: 0.3s;
    }

    /* Estilos da barra lateral (sidebar) */
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #DA0000;
        padding-top: 60px;
        transition: 0.3s;
        z-index: 9;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar ul li {
        padding: 15px 20px;
        text-align: left;

    }

    .sidebar ul li a {
        color: white;
        text-decoration: none;
        font-size: 40px;
        display: block;
        transition: 0.3s;
    }

    .sidebar ul li a:hover {
        background-color: #575757;
    }

    /* Overlay para escurecer o fundo quando o menu estiver ativo */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 8;
        transition: 0.3s;
    }

    .overlay.active {
        display: block;
    }

    .galery {
        width: 762px;
        height: 210px;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
    }

    .galery .fotos {
        display: flex;
        width: 400%;
        height: 100%;
        animation: animacao 20s linear infinite;
    }

    .galery .fotos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid black;
        padding: 5px;
    }

    header {
        width: 100%;
        height: auto;
    }


    .menu__intensDeCima {
        display: flex;
        flex-wrap: wrap;
        /* Quebra itens em novas linhas quando necessário */
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* Espaçamento entre os itens */
    }

    header img {
        width: 70px;
        height: 70px;
    }

    .menu__perfil {
        width: 81px;
        height: 75px;
    }

    .menu__panda {
        width: 194px;
        height: 125px;
        flex-shrink: 0;
    }



    /* A barra de pesquisa */
    .menu__caixaText_cell {
        width: 100%;
        width: 618px;
        height: 46px;
        flex-shrink: 0;
        border: 2px solid #000;
        background: #FFF;

    }

    /* Esconde a barra de navegação na versão mobile */
    .sites {
        width: 720px;
        height: 85px;
        flex-shrink: 0;
        border: 2px solid #000;
        background: #DA0000;
        padding: 20px;
        padding-left: 50px;

    }

    .menu__caixaText {
        display: none;
    }

    .links {
        display: none;
    }





    .itens {
        display: flex;
        gap: 500px;
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }

    main {
        border-width: 20px;
        border-color: black;
    }


    footer {


        bottom: 0;
        position: fixed;

        width: 720px;
        height: 140px;
        flex-shrink: 0;
        background: #DA0000;
        margin-bottom: 0;

    }

    .panda_rodape {
        margin-top: 22px;
        margin-left: 15px;
    }



    .info {
        margin-top: -30px;
        margin-left: 3%;
    }



    .atendimento {
        margin-top: -40px;
        margin-left: 34%;

    }

    .pagamentos {
        margin-top: -80px;
        margin-left: 85%;


    }

    .redes_sociais {
        margin-top: 80px;
        margin-left: 85%;
    }
}


@media (min-width: 721px) and (max-width: 2048px) {


    @keyframes animacao {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-20%);
        }

        45% {
            transform: translateX(-30%);
        }

        50% {
            transform: translateX(-40%);
        }

        70% {
            transform: translateX(-50%);
        }

        75% {
            transform: translateX(-60%);
        }

        95% {
            transform: translateX(-70%);
        }

        100% {
            transform: translateX(0);
        }

    }

    img {
        width: 300px;
        height: 200px;
    }

    .galery {
        width: 2617px;
        height: 518px;
        overflow: hidden;
        position: relative;
        padding-top: 8%;
    }

    .galery .fotos {
        display: flex;
        width: 400%;
        height: 100%;
        animation: animacao 20s linear infinite;
    }

    .galery .fotos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid black;
        padding: 5px;
    }

    header {
        width: 100%;
        height: 150px;

    }

    .menu__intensDeCima {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* Distribui os itens de forma uniforme */
        width: 100%;
        gap: 20px;


    }

    .menu__intensDeCima>* {
        flex-grow: 1;
        /* Faz com que cada item ocupe a mesma quantidade de espaço */
        text-align: center;
        /* Centraliza o texto dentro de cada item */
    }

    .menu__panda {
        width: 209px;
        height: 209px;
        flex-shrink: 0;
        margin-left: -40%;

    }

    .menu__caixaText {
        width: 1209px;
        height: 59px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #000;

        background: #FFF;


    }

    .navber {
        display: none;
    }

    .navbar .hamburger img {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .sites input {
        display: none;
    }

    .sites {

        width: 2560px;
        height: 100px;
        flex-shrink: 0;
        border: 2px solid #000;
        background: #DA0000;
        padding: 20px;
        padding-left: 50px;


    }

    .menu__carrinho {
        width: 121px;
        height: 121px;
        flex-shrink: 0;


    }

    input {
        width: 40%;
        height: 40%;
    }

    .menu__perfil {
        width: 121px;
        height: 121px;
        flex-shrink: 0;


    }


    .links {
        padding-left: 12%;
        margin-top: -5px;
        height: 200px;
        color: white;
        font-size: 40px;


    }


    .itens {
        display: flex;
        gap: 500px;
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }



    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 150px; /* Ajuste a altura conforme necessário */
        background-color: #DA0000; /* Cor de fundo opcional */
        display: flex;
        width: 77%;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: white; /* Cor do texto para contraste */
        box-sizing: border-box;
    }


    footer .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Ajuste conforme desejado */
        justify-content: center;
        text-align: left;
    }

    footer h4 {
        margin: 0 100px 10px 10px;
        font-size: 18px;
    }

    footer .footer-content p {
        margin: 0;
        font-size: 16px;
    }












}


@media (min-width: 2048px) {

    @keyframes animacao {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-20%);
        }

        45% {
            transform: translateX(-30%);
        }

        50% {
            transform: translateX(-40%);
        }

        70% {
            transform: translateX(-50%);
        }

        75% {
            transform: translateX(-60%);
        }

        95% {
            transform: translateX(-70%);
        }

        100% {
            transform: translateX(0);
        }

    }

    img {
        width: 300px;
        height: 200px;
    }

    .galery {
        width: 2617px;
        height: 518px;
        overflow: hidden;
        position: relative;
        padding-top: 7%;
    }

    .galery .fotos {
        display: flex;
        width: 400%;
        height: 100%;
        animation: animacao 20s linear infinite;
    }

    .galery .fotos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid black;
        padding: 5px;
    }

    header {
        width: 100%;
        height: 150px;

    }

    .menu__intensDeCima {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* Distribui os itens de forma uniforme */
        width: 100%;
        gap: 20px;


    }

    .menu__intensDeCima>* {
        flex-grow: 1;
        /* Faz com que cada item ocupe a mesma quantidade de espaço */
        text-align: center;
        /* Centraliza o texto dentro de cada item */
    }

    .menu__panda {
        width: 209px;
        height: 209px;
        flex-shrink: 0;
        margin-left: -40%;

    }

    .menu__caixaText {
        width: 1209px;
        height: 59px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #000;

        background: #FFF;


    }

    .navber {
        display: none;
    }

    .navbar .hamburger img {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .sites input {
        display: none;
    }

    .sites {

        width: 2560px;
        height: 100px;
        flex-shrink: 0;
        border: 2px solid #000;
        background: #DA0000;
        padding: 20px;
        padding-left: 50px;


    }

    .menu__carrinho {
        width: 121px;
        height: 121px;
        flex-shrink: 0;


    }

    input {
        width: 40%;
        height: 40%;
    }

    .menu__perfil {
        width: 121px;
        height: 121px;
        flex-shrink: 0;


    }


    .links {
        padding-left: 12%;
        margin-top: -5px;
        height: 200px;
        color: white;
        font-size: 40px;


    }


    .itens {
        display: flex;
        gap: 500px;
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }



    footer {
        bottom: 0;
        position: fixed;
        height: 150px; /* Ajuste a altura conforme necessário */
        background-color: #DA0000; /* Cor de fundo opcional */
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: white; /* Cor do texto para contraste */
        box-sizing: border-box;
    }


    footer .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Ajuste conforme desejado */
        justify-content: center;
        text-align: left;
    }

    footer h4 {
        margin: 0 100px 10px 10px;
        font-size: 18px;
    }

    footer .footer-content p {
        margin: 0;
        font-size: 16px;
    }








}

/*Smartphone:720x1280
tablet: 2048x1536
Desktop: 2560x1440
*/
